In [1]:
import pandas as pd

In [108]:
data = pd.read_csv('/Users/mac/Facultad/Estadistica Actuarial/Monografia/data/Covid19Casos.csv')

In [98]:
data.head()

,id_evento_caso,sexo,edad,edad_años_meses,residencia_pais_nombre,residencia_provincia_nombre,residencia_departamento_nombre,carga_provincia_nombre,fecha_inicio_sintomas,fecha_apertura,...,fecha_fallecimiento,asistencia_respiratoria_mecanica,carga_provincia_id,origen_financiamiento,clasificacion,clasificacion_resumen,residencia_provincia_id,fecha_diagnostico,residencia_departamento_id,ultima_actualizacion
0,1000000,M,53.0,Años,Argentina,CABA,SIN ESPECIFICAR,Buenos Aires,NaN,2020-06-01,...,NaN,NO,6,Privado,Caso Descartado,Descartado,2,2020-06-09,0,2020-08-11
1,1000002,M,21.0,Años,Argentina,Buenos Aires,La Matanza,Buenos Aires,NaN,2020-06-01,...,NaN,NO,6,Público,Caso Descartado,Descartado,6,2020-06-01,427,2020-08-11
2,1000003,F,40.0,Años,Argentina,Córdoba,Capital,Córdoba,2020-05-24,2020-06-01,...,NaN,NO,14,Privado,Caso Descartado,Descartado,14,2020-06-01,14,2020-08-11
3,1000005,F,58.0,Años,Argentina,Mendoza,Las Heras,Mendoza,NaN,2020-06-01,...,NaN,NO,50,Público,Caso Descartado,Descartado,50,2020-06-01,49,2020-08-11
4,1000006,M,28.0,Años,Argentina,Buenos Aires,Malvinas Argentinas,Buenos Aires,2020-05-30,2020-06-01,...,NaN,NO,6,Público,Caso sospechoso - Con muestra sin resultado,Sospechoso,6,NaN,515,2020-08-11

In [110]:
data['clasificacion_resumen'].value_counts()

Descartado        501631
Confirmado        260883
Sospechoso         92056
Sin Clasificar        15
Name: clasificacion_resumen, dtype: int64

In [112]:
data.loc[data['clasificacion_resumen'] == 'Sospechoso',['fecha_diagnostico']]

       fecha_diagnostico
4                    NaN
37                   NaN
59                   NaN
124                  NaN
157                  NaN
...                  ...
854388               NaN
854415               NaN
854425               NaN
854484               NaN
854492               NaN

[92056 rows x 1 columns]

Era una pelotudez

In [113]:
data.dropna(subset=['fecha_diagnostico'],inplace=True)

In [104]:
data['fecha_diagnostico'].isna().sum()

0

In [ ]:
data.loc[data['clasificacion_resumen'] == 'Confirmado']

In [105]:
data.groupby('fecha_diagnostico')['clasificacion_resumen'].sum()

fecha_diagnostico
2019-07-13                                           Descartado
2020-02-11                                 DescartadoDescartado
2020-02-20                                 DescartadoDescartado
2020-02-25                                           Descartado
2020-02-27    DescartadoDescartadoDescartadoDescartadoDescar...
                                    ...
2020-08-08    ConfirmadoConfirmadoConfirmadoConfirmadoConfir...
2020-08-09    ConfirmadoConfirmadoConfirmadoConfirmadoConfir...
2020-08-10    ConfirmadoDescartadoConfirmadoConfirmadoDescar...
2020-08-11    ConfirmadoConfirmadoDescartadoConfirmadoConfir...
2020-08-29                                           Descartado
Name: clasificacion_resumen, Length: 170, dtype: object

In [107]:
data['clasificacion_resumen'].value_counts()

Descartado    497680
Confirmado    260308
Name: clasificacion_resumen, dtype: int64

In [121]:
dummies = pd.get_dummies(data['clasificacion_resumen'])

In [127]:
df = pd.concat([data, dummies],axis=1)

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 757988 entries, 0 to 854584
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   id_evento_caso                    757988 non-null  int64
 1   sexo                              757988 non-null  object
 2   edad                              757155 non-null  float64
 3   edad_años_meses                   757988 non-null  object
 4   residencia_pais_nombre            757988 non-null  object
 5   residencia_provincia_nombre       757988 non-null  object
 6   residencia_departamento_nombre    757988 non-null  object
 7   carga_provincia_nombre            757988 non-null  object
 8   fecha_inicio_sintomas             450437 non-null  object
 9   fecha_apertura                    757987 non-null  object
 10  sepi_apertura                     757988 non-null  int64
 11  fecha_internacion                 106628 non-null  object
 12  cuidado_intensivo                 757988 non-null  object
 13  fecha_cui_intensivo               15386 non-null   object
 14  fallecido                         757988 non-null  object
 15  fecha_fallecimiento               7798 non-null    object
 16  asistencia_respiratoria_mecanica  757988 non-null  object
 17  carga_provincia_id                757988 non-null  int64
 18  origen_financiamiento             757988 non-null  object
 19  clasificacion                     757988 non-null  object
 20  clasificacion_resumen             757988 non-null  object
 21  residencia_provincia_id           757988 non-null  int64
 22  fecha_diagnostico                 757988 non-null  object
 23  residencia_departamento_id        757988 non-null  int64
 24  ultima_actualizacion              757988 non-null  object
 25  Confirmado                        757988 non-null  uint8
 26  Descartado                        757988 non-null  uint8
dtypes: float64(1), int64(5), object(19), uint8(2)
memory usage: 151.8+ MB

In [130]:
len(df.loc[df['Confirmado']==1])

260308

In [132]:
df = df[df['Confirmado'] == 1]

In [134]:
len(df)

260308

In [136]:
import numpy as np

In [138]:
st = pd.pivot_table(df, index='fecha_diagnostico', values='Confirmado',aggfunc=np.sum)

In [139]:
st.to_csv('covid_st.csv')